
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');


.Header-main {
    color: #ced511;
    font-size: xx-large;
    font-family: 'IBM Plex Mono', monospace;
    

  }


